/* You can add global styles to this file, and also import other style files */
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #b3e0f5;
  padding: 40px;
  color: #000000;
}

.app-container {
  max-width: 500px;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(19, 25, 26, 0.154);
  padding: 20px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 600;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  transition: border 0.3s;
}

form input:focus {
  border-color: #4a90e2;
  outline: none;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* filepath: /Users/karmendratyagi/first-ng-app/src/app/app.component.css */
full-calendar {
  max-width: 900px;
  margin: 0 auto;
}
.custom-snackbar {
  background-color: #323232; /* dark background */
  color: white;              /* white text */
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.meeting-item {
  margin-bottom: 10px;
}

.meeting-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b3e0f5;
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.meeting-info span {
  flex: 1;
}

.meeting-info button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.meeting-info button:hover {
  background-color: #4f3333;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
